@import "tailwindcss";

body {
  background-color: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

@theme {
    --color-primary : #00d2fc;
	--color-dark : #0c0c0c;
}

.default-padding {
  @apply max-w-[1400px] mx-auto px-8 md:px-12 lg:px-16;
}

.section-y-padding {
	@apply py-16 my-20;
}