@import "tailwindcss";

body {
  background-color: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

@theme {
    --color-primary : #00d2fc;
	--color-dark : #0c0c0c;
}

.default-padding {
  @apply max-w-[1400px] mx-auto px-8 md:px-12 lg:px-16;
}

.section-y-padding {
	@apply py-16 my-20;
}



/* Swipper styles */

.swiper {
  width: 100%;
  height: 100%;
}

.mySwiper2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 60vh;
  object-fit: cover;
  margin-bottom: 30px;
    border-radius: 10px;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.mySwiper2 .swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 140px;
  object-fit: cover;
  user-select: none;
  border-radius: 10px;
}



/* Price Card hover */

.holographic-card {
  position: relative;
  overflow: hidden;
}


.holographic-card::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    rgba(255, 255, 255, 0.2)
  );
  transform: rotate(-45deg);
  transition: all 0.8s ease;
  opacity: 0;
}

.holographic-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}